// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16;
$tablet: 321px;
// 960px container + 4rem;
$desktop: 769px + (2 * $gap);
// 1152px container + 4rem;
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem;
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: true;
$variable-columns: false; // in order not to get annoying terminal postcssCss warnings


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


html {
  background-color: gold;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 400;
}


@include desktop {
  html {
    background-color: red;
  }
}